# Pandas

## Importar bibliotecas

In [42]:
import pandas as pd

## Series

In [12]:
import pandas as pd 

serie = pd.Series([1, 2, 3, 4, 5])
serie_letras = pd.Series(['a', 'b', 'c', 'd', 'e'])
print(serie)
print(serie_letras)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

## Dataframes

In [13]:
df = pd.DataFrame({
    "Nombre": ["Pepito", "Leo", "Deivi", "Bere", "Javi"],
    'Edad': [40, 21, 26, 26, 5],
    'Salario': [1000, 2000, 3000, 4000, 5000]
})
print(df)

   Nombre  Edad  Salario
0  Pepito    40     1000
1     Leo    21     2000
2   Deivi    26     3000
3    Bere    26     4000
4    Javi     5     5000

In [14]:
pelis = pd.DataFrame({
    'Nombre': ["Orgullo y Prejuicio", "Before Sunrise", "Black Swan"],
    'Año': ['2005', '1995', '2010'],
    'Genero': ['Romance', 'Drama', 'Drama'],
    'Cantidad Recaudada': [1000, 2000, 3000],
    'Calificacion': [9.3, 9.0, 9.8]
})
print(pelis)

                Nombre   Año   Genero  Cantidad Recaudada  Calificacion
0  Orgullo y Prejuicio  2005  Romance                1000           9.3
1       Before Sunrise  1995    Drama                2000           9.0
2           Black Swan  2010    Drama                3000           9.8

## Lectura de archivos CSV

In [21]:
customers = pd.read_csv('customers-100.csv')
customers

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [22]:
customers.to_csv('customers-100.csv', index=False)

## Selección de Datos

In [24]:
companies = customers[customers['Index'] > 50]
gente_cuyo_nombre_tiene_a = customers[customers['First Name'].str.contains('a')]
suscritos_en_2020 = customers[customers['Subscription Date'].str.contains('2020')]
suscritos_en_2020

# iloc: Acceso por posición
primer_cliente = customers.iloc[0]
print(primer_cliente)

Index                                         1
Customer Id                     DD37Cf93aecA6Dc
First Name                               Sheryl
Last Name                                Baxter
Company                         Rasmussen Group
City                               East Leonard
Country                                   Chile
Phone 1                            229.077.5154
Phone 2                        397.884.0519x718
Email                  zunigavanessa@smith.info
Subscription Date                    2020-08-24
Website              http://www.stephenson.com/
Name: 0, dtype: object

## Eliminar Columnas

In [25]:
customers = customers.drop(99, axis=0)
customers

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,2022-02-17,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/

In [27]:
customers_sin_2telefono = customers.drop("Phone 2", axis=1)
customers_sin_2telefono
# Acceso a una columna específica

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,grayjean@lowery-good.com,2022-02-17,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/

## Agregar columnas

In [28]:
prebes = pd.DataFrame({
    "Nombre": ["Pepito", "Leo", "Deivi", "Bere", "Javi"],
    "Edad": [40, 21, 26, 26, 5],
    "Nota": [10, 9, 8, 7, 6]
})
prebes.loc[5] = ["Frida", 21, 10]
prebes["Sexo"] = ["M", "M", "M", "F", "M", "F"]
prebes

   Nombre  Edad  Nota Sexo
0  Pepito    40    10    M
1     Leo    21     9    M
2   Deivi    26     8    M
3    Bere    26     7    F
4    Javi     5     6    M
5   Frida    21    10    F

## Operaciones con datos

In [32]:
prebes["Nota"].mean()

float(prebes["Nota"].mean())

## F-Strings
media_nota = float(prebes["Nota"].mean())

print(f"La media de las notas es: {media_nota}")

La media de las notas es: 8.333333333333334

## Ejercicio

In [39]:
import pandas as pd

data = {
    "Producto": ["Manzana", "Platano", "Mango", "Manzana", "Platano"],
    "Precio": [12.5, 8.0, 15.0, 10.0, 7.5],
    "Stock": [30, 45, 20, 25, 40]
}
df = pd.DataFrame(data) 
df

  Producto  Precio  Stock
0  Manzana    12.5     30
1  Platano     8.0     45
2    Mango    15.0     20
3  Manzana    10.0     25
4  Platano     7.5     40

In [41]:
df.groupby("Producto")["Precio"].mean()
df.groupby("Producto").sum()

          Precio  Stock
Producto
Mango       15.0     20
Manzana     22.5     55
Platano     15.5     85